.banner-apropos{
    height: 223px;
    left: 100px;
    top: 171px;
 
}
.banner-apropos > img{
    position: absolute;
    width: 87%;
    
    object-fit: cover;
    border-radius: 25px;
    left: 100px;
    height: 223px;
}


// Format telephone
@media only screen and (max-width: 480px) {
    .banner-apropos > img{
        left:6%;
    }
}