header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        justify-content: space-around;
        
        li{
            list-style: none;
        }
        
    }
}

.nav_link{
    text-decoration: none;
    color: #FF6060;
    margin-left: 15px;
    font-style: normal;
    font-size: 20px;
}

.active{
    border-bottom: 2px solid #FF6060;
    padding-bottom: 5px;
}
.nav_link:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid #FF6060;
}

 // LOGO
 .logo{       
    width: 120px;
    padding-left: 0px;
    color:#FF6060;
    font-size: 35px;
    display: flex;
    align-items: center;    
    >span{
        padding-left: 5px;
        padding-right: 5px ;
    }
    >svg{
        color:#FF6060;
        width: 50px;
    }
 
}