header{
nav{
    display: flex;
    justify-content: space-between;
    margin-right: 55px;
    margin-left: 55px;
    font-size: 20px;
    align-items: center;
  
   
    ul{
        display: flex;
        list-style-type: none;
        padding-right: 40px;
        li{
            padding-right: 15px;
        }
    }
    // LOGO
    .logo{
       
        width: 120px;
        padding-left: 40px;
        color:#FF6060;
        font-size: 35px;
        
        >span{
            padding-left: 5px;
            padding-right: 5px ;
        }
        >svg{
            color:#FF6060;
            width: 50px;
        }
     
    }
     // EO LOGO
    .nav_link{
        text-decoration: none;
        color:#FF6060;
        margin-left: 10px;
    }
 
}
}
.active{
    border-bottom: 2px solid #FF6060;
    padding-bottom: 5px;
}
.nav_link:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid #FF6060;
}


// Format telephone
@media only screen and (max-width: 480px) {
    header{
        width: 100%;
        
    nav{
     width: 100%;   
     font-size: 16px;
     margin-left: 0;
     ul{
        padding-right: 0;
        padding-left: 0;
     }
    
     h1{
        svg{
            width: 25px !important;
            
        }
     }
    }
    }
    .logo{
        font-size: 25px !important;
    }
}